@charset "UTF-8";
/* Estilo CSS */
  



section {

	height: 100vh;
}





.parallax {
    /* The image used */
    background-image: url("../img/capa.jpg");
    background-color: rgba(255, 255, 255, 0.65) 

    /* Set a specific height */
     min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;

}

#titulo-pagina {
	float: left;
	font-size: 32px;
	line-height: 101%;
	margin: 1.78rem 0 -0.576rem 0;
	-webkit-margin-start: 61px

	
}
.nav-wrapper {
	background-color: #273b60ff;
	height: 115% !important;
}

.largura {
	width: 62px;
}


#tabs-cadastro {
	overflow: hidden;
}

#cadastro .modal-content {
	padding: 0;
}

//aqui se altera a cor do botao modal
.modal-trigger {
	background-color: white ;
	width: 150px;
	color: #273b60ff;
}

#titulo-inicial{
	text-transform:  uppercase;
    font-weight: 700;
}
.white-text {
	/*-family: Francois One, sans-serif;*/
	
}
.text-descricao{
font-family: Francois One, sans-serif;
font-size: 22px;
}


.titulo-projetos{
	font-weight: 500;
	text-align: center;
	font-family: Pacifico, cursive;
}
.titulo-perfil {
	text-transform: uppercase;
	font-size: 32px;
	color: #273b60ff;
	font-family: Francois One, sans-serif;
}

.page-footer {
	background-color: #ffd43d;
	color: #273b60ff !important;
}
.footer-copyright{
	color: #273b60ff !important;
}

.img-logo-final{
	float: left;
	width: 62px;
}



.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 85%;

}

.card.small {
	height: 192px;
}
#atividades_andamento {
	height: 146px;
	margin: -0.5rem 0rem 0;
}

blockquote {
	border-left: 4px solid #273b60ff;
}
.user {
	height: 165px;
}
.card {
	margin: 2.5rem 0 1rem 0;
}
.materialbox-caption {
  color: black;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #273b60ff;
  -webkit-box-shadow: 0 1px 0 0 #273b60ff;
          box-shadow: 0 1px 0 0 #273b60ff;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #273b60ff;

}


.card-content {
text-align: center;
}

form {
    background-color: #eeeeee;

    margin-top: 5%;
}

.estilotrigger {
background-color: white;
}

.coricone{
color: #ffd43d !important;
}

.formcategoria {
color: black;


}

.row.col.s12 {
	border-radius: 15px;
}

.estilo { 
   border: 2px dashed #ffd43d;
   width:300px;
 } 

.tabs .tab a.active {
    background-color: transparent;
    color: #273b60ff;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #273b60ff;
}
.tabs .tab a {
    color: #273b60ff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ffd43d;
    will-change: left, right;
}

.estilo-cadastro {
 	overflow-x: hidden;
 	overflow-y: hidden;

}

.container .row {
    padding: -3px;
}
#cadastroPessoa{
    margin: 12px;
}

#cadastroEmpresa {
    margin: 12px;

}


.user {
  border-radius: 30px;
  height: 101px;
  position: absolute; 
  left: 171px; /* posiciona para a esquerda */ 
  top: 210px; /* posiciona para baixo */
}

.usuario {
  border-radius: 30px;
  height: 132px;
  position: absolute; 
  left: 217px; /* posiciona para a esquerda */ 
  top: 212px; /* posiciona para baixo */
}


.botaocadlog {
  background-color: #ffd43d;
}

.botaocadlog:hover {
  background-color: #273b60ff;
}


textarea.materialize-textarea {
  padding: 0rem 0 0rem 0;
}

.logo{
height: 100px;
margin-top: -9px;
}

.pagination li.active {
  background-color: #273b60ff;
}
